body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
    width: 80%;
    margin: auto;
}

img {
    width: 450px;
    margin-left: 550px;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.more li {
    display: inline-block;
    list-style: none;
    height: 60px; 
    line-height: 60px;
    padding: 0 40px;
    border-radius: 8px;
  }
  
  .more li:hover {
    background: rgb(241, 5, 5);
  }
  
  .bottom-nav {
    text-decoration: none;
  }

  .more {
      text-align: center;
  }

  .footer {
      text-align: center;
  }